/* Animation */
@keyframes rolling { /* 익스플로러에서는 지원하지 않는다.*/
    0% {
        margin-top: 0;
    }
    25%{
        margin-top: -1.5em;
    }
    50%{
        margin-top: -3em;
    }
    75%{
        margin-top: -4.5em;
    }
    100% {
        margin-top: -6em; /* 0 ~ -1.5 로 애니메이션 되게 할 수 있다.*/
    }
}
body, h1, p, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h1 {
    font-size: 100%; /* 원래 사이즈대로 가겠다.*/
    font-weight: normal;
}
a {
    color: inherit; /* 부모의 폰트 사이즈를 상속받게끔*/
    text-decoration: none; /* a 태그의 밑줄 삭제*/
}
body {
    background-color: #111;
    color: #999;
}
.introduce {
    font-size: 30px;
    line-height: 1.5; /*한 줄의 높이를 의미하는 것이다. 그럼 폰트사이즈 30이 line-height가 의미하는 것은 30이 된다.*/
    font-style: italic;
}
.introduce-function {
    display: inline-block;
    background-color: red;
    vertical-align: top; /* .introduce-function 의 inline-block 의 시작점을 맞춰준다? 사진*/
    height: 1.5em;  /* introduce의 font-size *1 을 해서 값을 가져온다. 결국 부모의 값과 같은 값이 들어온다.*/
    overflow: hidden; /* overflow: 넘쳐흐르는 것을 잘라주겠다. */
    padding-right: 0.5em;
}
.introduce-function-list { /* 움직임이 생기는 부분 */
    animation-name: rolling; /* 위에서 선언한 rolling을 가져온다. */
    animation-duration: 3s; /* 초 단위 */
    animation-iteration-count: infinite;/* 수동으로 새로고침하지않고 자동으로 값이 변경되게하기 위해선 infinite 평생실행 */
}
.introduce-title {
    font-size: 1.5em; /* .introduce-title의 부모는 .introduce 이다.*/
    line-height: 1;
    /* 자신의 부모 폰트사이즈 30px의 1.5배가 되게끔 해라! 자신의 부모 폰트사이즈가 변경되면 같이 변경된다.*/
}
.portrait {
    background-image: url("/home/ubuntu/srv/DevelUP-quest1/static/images/profile.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 56.25%;
}

.sc {
    padding: 7%; /* padding 7% 는 top, right, bottom, left 전부를 7%로 */
}

.sc-introduce,
.sc-section { /* introduce안의 section을 전부 설정해주도록 하자*/
    padding-bottom: 7%;
}
