{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Songchu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Squada+One&display=swap" rel="stylesheet">
    {# 구글폰트 #}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=byn7ctlym2"></script>
    {# Naver 지도 #}
</head>
<body>
<div class="portrait"></div>
{# 배경사진 #}
<div class="sc"> {# sc는 songchu의 줄임 #}
    <div class="sc-introduce">
        <div class="header">
            <div class="introduce" style="color: white;">
                <h1>Hello</h1>
                Information about
                <div class="introduce-function" style="background-color: #111; color: red;">
                    <ul class="introduce-function-list">
                        <li>Contact</li>
                        <li>MAP</li>
                        <li>Bus</li>
                        <li>Weather</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <h1 class="introduce-title">Introducing Songchu</h1></div>
        </div>
        <p class="content" style="color: white;">면사무소 소재지는 권율로 7(일영리 137-2).
            양주시의 다른 지역과는 말머리고개로 사실상 완전히 분리되어 있어, 생활권은 서울특별시 은평구, 고양시, 의정부시와 엮여 있다. 예전에는 이 지역에 거주하는 학생들이 90% 이상 서울 지역으로
            진학했지만 의정부가 평준화된 이후 대부분 의정부로 중학교 진학을 한다.
            서울시 은평구, 고양시, 의정부시 사이에 있기에 이를 왔다갔다 하는 버스가 여러 대 다닌다. 송추에서 출발해 은평구 방면으로 가는 서울 버스 704번, 의정부시와 은평구를 왕복하는 의정부 버스
            34번과 의정부 버스 360번, 의정부시와 송추를 왕복하는 의정부 버스 23번, 의정부시 방면과 고양시 방면으로 향하는 파주 버스 38번과 시외버스 3700번, 공항버스 7200번과 7300번,
            장흥공영버스등이 운행중이다.
            전라남도 장흥군과는 이름이 헷갈리는 관계에 있다. 한자까지 똑같다. 거기에 장흥면이 산 좋고 물 좋은 교외 관광지로 이름나 있는데 장흥군 또한 관광 산업이 발달한 곳이라 더욱 헷갈린다. 하지만,
            실생활에서는 거의 다 송추, 일영이라고 부르지 장흥이라고 하는 경우는 드물기 때문에 의외로 혼동될 일은 적다.
            서울시에 직접 맞닿아 있는 2개의 면 중 하나다. 나머지 하나는 남양주시 별내면.
            <br>-나무위키-
        </p>
    </div>
    <div class="introduce-map" style="color:white;">
        <h1 style="font-size: 170%;">Map</h1>
        <br>
        <div id="map" style="width:100%;height:400px;"></div>
    </div>
    <br>
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.718693, 126.975022),
            zoom: 12
        };
        var map = new naver.maps.Map('map', mapOptions);
    </script>
    <div class="introduce-bus" style="color:white;">
        <ul class="downtown">
            <h1 style="font-size: 170%;">Downtown Bus</h1>
            <li>
                <h3>23</h3>
                <div class="busmap">
                    <img src="{% static 'images/bus/23.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>34</h3>
                <div class="busmap">
                    <img src="{% static 'images/bus/34.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>38</h3>
                <div class="busmap">
                    <img src="{% static 'images/bus/38.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>360</h3>
                <div class="busmap">
                    <img src="{% static 'images/bus/360.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>704</h3>
                <div class="busmap">
                    <img src="{% static 'images/bus/704.png' %}" alt="">
                </div>
            </li>
        </ul>
        <br>
        <ul class="countryside">
            <h1 style="font-size: 170%;">Countryside Bus</h1>
            <li>
                <h3>3700</h3>
                <div class="busmap">
                <img src="{% static 'images/bus/3700.png' %}" alt="">
                    </div>
            </li>
            <li>
                <h3>7200</h3>
                <div class="busmap">
                <img src="{% static 'images/bus/7200.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>7300</h3>
                <div class="busmap">
                <img src="{% static 'images/bus/7300.png' %}" alt="">
                </div>
            </li>
            <li>
                <h3>8906</h3>
                <div class="busmap">
                <img src="{% static 'images/bus/8906.png' %}" alt="">
                </div>
            </li>
        </ul>
    </div>
    <br>
    <div class="introduce-weather" style="color:white;">
        <h2>
            Weather in Yangju, KR <br>
            {{ time }} <br>
            <img src="{{ icons }}" alt=""> <br>
            Cloudiness : Sky is {{ status }}<br>
            Temperature : {{ temp }}°C
        </h2>
    </div>
    <div class="introduce-reply" style="color: white;">
        {% load disqus_tags %}
        {% disqus_show_comments %}
    </div>
    <br>
    <div class="introduce-contact" style="color: white;">
        <dt>Cell.</dt>
        <dd>+82)1012340000</dd>
        <dt>Email.</dt>
        <dd>2044smile@naver.com</dd>

        <a href="https://www.instagram.com/p2mang/"><img src="{% static 'images/instagram.png' %}" alt=""></a>
        <a href="https://github.com/2044smile"><img src="{% static 'images/github.png' %}" alt=""></a>
        <a href="https://newbiecs.tistory.com/"><img src="{% static 'images/blog.png' %}" alt=""></a>

    </div>
</div>
</body>
</html>
